{{define "activity"}}

<div class="profile-post-create">
    <h3>Activities</h3>
    {{range .}}
    <div class="user-post-card">
        {{if gt .PID 0 }}
        <span class="notify-time"> {{.Time}} </span>
        <form action="/user/id?{{.UID}}" method="post" class="author-post">
            <input type="hidden" name="uid" value="{{.UID}}">
            <input type="submit" value="{{.UserLost}}">
        </form>
        <br />
        {{if eq .VoteState 2 }} Disiked Post {{end}}
        {{if eq .VoteState 1 }} Liked Post{{end}}
        "{{.Content}}"
        <a href="/post?id={{.PID}}"> see </a>
        {{end}}
        {{if .CID}} {{if gt .CID 0 }}

        <form action="/user/id?{{.UID}}" method="post" class="author-post">
            <input type="hidden" name="uid" value="{{.UID}}">
            <input type="submit" value="{{.UserLost}}">
        </form>
        <span class="notify-time"> {{.Time}} </span>
        <br />
        {{if eq .VoteState 2 }} Disiked Comment {{end}}
        {{if eq .VoteState 1 }} Liked Comment{{end}}
        "{{.Content}}"
        <a href="/post?id={{.CIDPID}}">see</a>
        {{end}} {{end}}

        {{if .CLID}}
        {{if gt .CLID 0 }}
        <span class="notify-time"> {{.Time}} </span>
        {{if eq .Editted true}}
        <span class="edited-notify">Edited</span>
        {{end}}
        <form action="/user/id?{{.UID}}" method="post" class="author-post">
            <input type="hidden" name="uid" value="{{.UID}}">
            <input type="submit" value="{{.UserLost}}">
        </form>
        <br />
        Lost comment
        "{{.Content}}" <a href="/post?id={{.CLID}}"> see </a> {{end}} {{end}}
    </div>
    {{end}} {{end}}