{{define "signin"}} {{template "header"}}

<div class="signin-wrapper" id="signin-wrapper">
    <div class="signin-container">
        <h3 class="signin-label">Login system</h3>
        <form action="">
            <div id="authWrapperId">
                <input id="email" type="email" name="email" placeholder="email" required="заполни емаиль">
                <input id="password" type="password" name="password" placeholder="password" required>
                <input onclick="defAuthSendData()" type="submit" value="Login">
            </div>
        </form>
        <span> OR </span>
        <div> <a href="/googleSignin"> Gogole Signin </a> </div>
        <span> OR </span>
        <div class="github-signin"></div> <a href="/githubSignin"> Github Signin </a>
    </div>

    <p id="notify"> {{.}} </p>

</div>
</div>

{{template "footer"}}
<script>
    let user = {
        name: '',
        image: null,
        email: '',
        password: '',
        type: ''
    };

    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }
    const gSignin = (type) => {
        user.type = type
        fetch('http://localhost:6969/signin', {
            method: 'POST',
            body: JSON.stringify(user)
        })
        window.location.replace("http://localhost:6969/profile")
    }

    function sendGoogleData(user) {

        fetch('http://localhost:6969/signin', {
            method: 'post',
            body: user,
        })
            .then((response) => {
                response.json()
            })
            .then((data) => {
                console.log(data, "D", user)
                showNotify(data)
            });
    }

    function defAuthShow() {
        let el = document.getElementById("authWrapperId");
        el.style.display = "block"
    }
    const showNotify = (msg) => {
        if (msg != "success") {
            console.log(msg, "msg")
            let ns = document.getElementById('notify')
            ns.innerText = msg
        } else {
            welcomeSound()
            //sound & confetti
            window.location.replace("http://localhost:6969/profile")
        }
    }

    const welcomeSound = () => {
        var audio = new Audio('rihanna.mp3');
        audio.play();
    }

    function defAuthSendData() {

        let email = document.getElementById("email").value;
        let password = document.getElementById("password").value;

        user.email = email,
            user.password = password,
            user.type = "default"

        if (user.email != '' && user.password != '') {
            //async fetch query
            async function getUserAsync() {
                let response = await fetch('http://localhost:6969/signin', {
                    method: 'post',
                    body: JSON.stringify(user),
                });
                let data = await response.json()
                return data;
            }
            getUserAsync()
                .then(data => showNotify(data));
        }
    }
</script>
{{end}}